ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="TI-am335x-adc.*", SYMLINK+="adc/builtin0"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="can0", ENV{VE_NAME}="CAN 2 port"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="can1", ENV{VE_NAME}="VE.Can port"
ACTION=="add", KERNEL=="ttyO[24]", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
ACTION=="add", KERNEL=="ttyO5", ENV{VE_PRODUCT}="builtin-mkx-no-settings-suffix", ENV{VE_SERVICE}="mkx"

ENV{BASE_COMPATIBLE}!="unipoin,gridless-octo", GOTO="end-octo-gx"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_PATH}=="platform-musb-hdrc.0-usb-0:1.2:1.0", ENV{VE_PRODUCT}="builtin-rs485", ENV{VE_SERVICE}="rs485"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_PATH}=="platform-musb-hdrc.1*", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
LABEL="end-octo-gx"
