ACTION=="add", SUBSYSTEMS=="hid", ATTRS{product}=="GX IO[ -]Extender 150", ENV{SERIAL}="%s{serial}", ENV{VE_PRODUCT}="io-extender"
ENV{VE_PRODUCT}!="io-extender", GOTO="end-ioext-add"
ACTION=="add", SUBSYSTEM=="i2c", KERNEL=="i2c-*", ATTR{new_device}="24c02 0x50", ATTR{new_device}="pcal6416 0x20", ATTR{new_device}="pca9632 0x62"
ACTION=="add", SUBSYSTEM=="gpio", ATTR{label}=="*-0020", RUN+="io-extender gpio"
ACTION=="add", ATTR{name}=="pca9632", RUN+="io-extender pwm"
LABEL="end-ioext-add"
ACTION=="remove", SUBSYSTEM=="hid", RUN+="io-extender"
