# Cerbo GX + Cerbo-S GX
ENV{BASE_COMPATIBLE}!="victronenergy,cerbo-gx|victronenergy,cerbo-gx-s", GOTO="end-cerbo-gx"
ACTION=="add", KERNEL=="ttyS4", ENV{VE_PRODUCT}="builtin-mkx", ENV{VE_SERVICE}="mkx"
ACTION=="add", KERNEL=="ttyS[5-7]", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="cerbo-gx-adc", SYMLINK+="adc/builtin0"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="can0", ENV{VE_NAME}="VE.Can port"
ACTION=="change", SUBSYSTEM=="drm", ENV{HOTPLUG}=="1", RUN+="display-hotplug %p HDMI-A-1 i2c-2"
ACTION=="change", KERNEL=="*.rtc", ENV{LOSC}=="1", RUN+="sunxi-losc-status %s{losc_status}"
LABEL="end-cerbo-gx"

# Cerbo GX only
ENV{BASE_COMPATIBLE}!="victronenergy,cerbo-gx", GOTO="end-cerbo-gx-only"
# The second CAN is not available on the Cerbo-S GX.
# NOTE: a new / patched linux is needed to be able to set the bitrate later with ip.
ACTION=="add", KERNEL=="ttyS3", ENV{VE_SERVICE}="ignore", RUN+="slcan $devnode can1"
ACTION=="add|move", SUBSYSTEM=="net", KERNEL=="can1", ENV{VE_NAME}="BMS-Can port", ENV{VE_CAN_CONFIG}="bms-only"
LABEL="end-cerbo-gx-only"

# Cerbo GX B1
ENV{BASE_COMPATIBLE}!="victronenergy,cerbo-gx-b1", GOTO="end-cerbo-gx-b1"
ACTION=="add", KERNEL=="ttyS4", ENV{VE_PRODUCT}="builtin-mkx", ENV{VE_SERVICE}="mkx"
ACTION=="add", KERNEL=="ttyS[5-7]", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="tla2024", KERNELS=="3-0048" SYMLINK+="adc/builtin-tank"
ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="tla2024", KERNELS=="3-0049" SYMLINK+="adc/builtin-temp"
ACTION=="add", SUBSYSTEM=="net", ATTR{type}=="280", KERNELS=="1c2bc00.can", NAME="vecan0", ENV{VE_NAME}="VE.Can port"
ACTION=="add", SUBSYSTEM=="net", ATTR{type}=="280", KERNELS=="1c17000.spi", NAME="vecan1", ENV{VE_NAME}="BMS-Can port"
ACTION=="change", SUBSYSTEM=="drm", ENV{HOTPLUG}=="1", RUN+="display-hotplug %p HDMI-A-1 i2c-2"
LABEL="end-cerbo-gx-b1"
