# workaround for replugging a wifu usb adapter
# with unload the module, it won't work when plugging it in again
ACTION=="remove", ENV{ID_BUS}=="usb", ENV{ID_USB_DRIVER}=="rtl8192cu", RUN+="/sbin/rmmod rtl8192cu"
