# Simcom GSM/3G modem

# ignore devices in serial-starter
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="05c6", ENV{ID_MODEL_ID}=="9000", ENV{VE_SERVICE}="ignore"

# let serial-starter handle gps and modem control
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="05c6", ENV{ID_MODEL_ID}=="9000", ENV{ID_USB_INTERFACE_NUM}=="01", ENV{VE_SERVICE}="gps"
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="05c6", ENV{ID_MODEL_ID}=="9000", ENV{ID_USB_INTERFACE_NUM}=="02", ENV{VE_SERVICE}="modem"

# link modem interface to a known name
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="05c6", ENV{ID_MODEL_ID}=="9000", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="modem"
